body{
    background-color:#f6f6f6; 
}

#painting{
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}

#toprow{
    height: 290px;
}

#bigbox{
    width: 290px;
    height: 290px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.black{
    background-color: black;
}

.right{
    float: right;
}

#divider1{
    height: 290px;
    width: 10px;
}

#mediumbox1{
    width: 100px;
    height: 140px;
    background-color: pink;
}

#mediumbox2{
    width: 100px;
    height: 140px;
    background-color: goldenrod;
}

#divider2{
    height: 10px;
    width: 100px;

}

#divider3{
    width: 400px;
    height: 10px;
}
#divider4{
    width: 10px;
    height: 100px;
    margin-top: -55px;
}

#smallbox1{
    
    width: 50px;
    height: 45px;
    background-color: purple;
}

#smallbox2{
    width: 50px;
    height: 45px;
    background-color: deeppink;
}

.clear{
    clear: right;
}
#divider5{
    height: 10px;
    width: 50px;
}

#rectangle{
    width: 230px;
    height: 100px;
    background-color: greenyellow;
    margin-top: -55px;
}

#square{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: -55px;
}

#divider6{
    width: 10px;
    height: 100px;
    margin-top: -55px;
}